.cart-dropdown {
    position: absolute;
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 80px;
    right: 80px;
    z-index: 5;
  
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: auto;
    }
  
    button {
      margin-top: auto;
    }
    
    .empty-message{
      text-align: center;
      margin: 100px auto;
    }
  }
  